<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
<h1>Задача № <span th:text="${task.getTaskId()}"></span></h1>
Название задачи: <span th:text="${task.getTaskName()}"></span><br><br>
Описание: <span th:text="${task.getDescription()}"></span><br><br>
Статус: <span th:text="${task.getStatus()}"></span><br><br>
Приоритет: <span th:text="${task.getPriority()}"></span><br><br>
Комментарий: <span th:text="${task.getComment()}"></span><br><br>
Автор задачи: <span th:text="${task.getAuthorName()}"></span><br><br>
Исполнитель: <span th:text="${task.getExecutor()}"></span>
</body>
</html>