<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
<h1>Задача № <span th:text="${taskId}"></span></h1>
Название задачи: <span th:text="${taskName}"></span><br><br>
Описание: <span th:text="${description}"></span><br><br>
Статус: <span th:text="${status}"></span><br><br>
Приоритет: <span th:text="${priority}"></span><br><br>
Комментарий: <span th:text="${comment}"></span><br><br>
Автор задачи: <span th:text="${authorName}"></span><br><br>
Исполнитель: <span th:text="${executor}"></span>
</body>
</html>